body {
  height: 100vh;
  margin: 0;
  background-color: rgba(34, 34, 34, 0.5);
}

strong {
  color: rgba(252, 218, 183, 1);
}

.quill {
  height: 25vh;
  margin-bottom: 4px;
}

.quill.intro {
  height: 12vh;
}

.ql-editor {
  padding: 6px 15px 7px 15px;
  background-color: rgba(51, 51, 51, 1);
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: rgba(238, 238, 238, 1);
}

.ql-editor.ql-blank::before {
  font-family: Lato, sans-serif !important;
  font-style: normal !important;
  color: rgba(238, 238, 238, 0.2) !important;
}

[contenteditable="false"].ql-editor > * {
  color: rgba(238, 238, 238, 0.4);
  cursor: default;
}

[contenteditable="true"].ql-editor {
  border-color: rgba(0, 0, 0, 0.23);
}

[contenteditable="true"].ql-editor:hover {
  border-color: rgba(238, 238, 238, 1);
}

.ql-editor:focus {
  border: 2px solid rgba(252, 218, 183, 1);
}
